@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/variables-dark';

$primary:#007ea7;

[data-bs-theme="dark"] {
    --bs-body-color:#ffffffdd;
    --bs-body-bg:#212020;
    --bs-link-color-rgb: 102,186,214;
    --bs-heading-color:#ffffffdd;
    --bs-btn-color: #ffffffdd;
    color-scheme: dark;

    body{
        background-color: #212020;
    }
  
    .btn-primary {
        --bs-btn-bg: #{$primary};
    }

    .jstree-default, .jstree-clicked {
        background: #007da785;
    }

    .border-secondary {
        border-color: #2e3032;
    }
 
    .lead, .fa-arrow-down, .px-2, .fa-clock-rotate-left, .fa-square-plus:before{
        color:#ffffffdd;
    }

    .mb-2{
        background-color:#2e3032;
        color: #ffffffdd;
    }

    .exercise, .overflow-scroll, .border-secondary, .sidebar-collapse-collapsed{
        background-color:#2e3032;
        border-color:#333;
    }

    .btn-outline-dark{
        --bs-btn-border-color: #2e3032;
        --bs-btn-bg:#2e3032;
    }

    #resizerHorizontal, #resizerVertical{
        background:#333;
    }

    .card{
        background-color:#2e3032;
    }

    .card-body{
        background-color: #2e3032;
        color: var(--bs-heading-color,inherit);
    }

    .ace_content{
        background-color: #2e3032;
        color: #888;
    }

    .ace_gutter-layer {
        background-color: #333334;
        color: #888;
    }

    .bg-light, .bg-white {
        background-color: #2e3032;
    }
}
