@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/variables-dark';

$primary:#007ea7;

[data-bs-theme="dark"] {
    --bs-body-color:#ffffffdd;
    --bs-body-bg:#212020;
    --bs-link-color-rgb: 102,186,214;
    --bs-heading-color:#ffffffdd;
    --bs-btn-color: #ffffffdd;
    color-scheme: dark;

    body{
        background-color: #212020;
    }
  
    .btn-primary {
        --bs-btn-bg: #{$primary};
    }

    .jstree-default .jstree-clicked {
        background: #007da785;
    }

    .border-secondary {
        border-color: #2e3032 !important;
    }

    .border-secondary {
        border-color: #2e3032;
    }
 
    .lead, .fa-arrow-down, .px-2, .fa-clock-rotate-left, .fa-square-plus:before{
        color:#ffffffdd;
    }

    .mb-2{
        background-color:#2e3032;
        color: #ffffffdd;
    }

    .exercise, .overflow-scroll, .border-secondary, .sidebar-collapse-collapsed{
        background-color:#2e3032;
        border-color:#333;
    }

    .btn-outline-dark{
        --bs-btn-border-color: #2e3032;
        --bs-btn-bg:#2e3032;
    }

    #resizerHorizontal, #resizerVertical {
        background:#333;
    }

    .card{
        background-color:#2e3032;
    }

    .card-body{
        background-color: #2e3032 !important;
        color: var(--bs-heading-color,inherit) !important;
    }

    .ace-tomorrow {
        background-color: #2e3032;
        color: #ffffffdd !important;
    }

    .ace-tomorrow .ace_marker-layer .ace_active-line, .ace-tomorrow .ace_marker-layer .ace_selection {
        background-color: #111
    }

    .ace_gutter-layer {
        background-color: #333334;
        color: #888;
    }

    .bg-light {
        background-color: #2e3032 !important;
    }

    .table {
        --bs-table-color: var(--bs-body-color);
        --bs-table-bg: #2e3032;
        --bs-table-border-color: var(--bs-border-color);
        --bs-table-accent-bg: #2e3032;
        --bs-table-striped-color: var(--bs-body-color);
        --bs-table-striped-bg: rgba(0,0,0,.05);
        --bs-table-active-color: var(--bs-body-color);
        --bs-table-active-bg: rgba(0,0,0,.1);
        --bs-table-hover-color: var(--bs-body-color);
        --bs-table-hover-bg: rgba(0,0,0,.075);
        border-color: var(--bs-table-border-color);
    }

    pre, .output-element {
        background-color: #2e3032;
        padding: 0.25rem !important;
        border: 1px solid #2e3032;
    }

    .chosen-container-single .chosen-single {
        background-color: #2e3032;
        background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,#2e3032),color-stop(50%,#27292b),color-stop(52%,#2b2d2f),to(#252729));
        background: linear-gradient(#2e3032 20%,#27292b 50%,#2b2d2f 52%,#252729);
        border: 1px solid #555;
        -webkit-box-shadow: inset 0 0 3px #2e3032, 0 1px 1px rgba(0,0,0,.1);
        box-shadow: inset 0 0 3px #2e3032, 0 1px 1px rgba(0,0,0,.1);
        color: var(--bs-body-color);
    }

    code {
        background-color: var(--bs-body-bg) !important;
    }

    .chosen-container-multi .chosen-choices {
        background-color: #2e3032;
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#2b2d2f),color-stop(15%,#2e3032));
        background-image: linear-gradient(#2b2d2f 1%,#2e3032 15%);
        border: 1px solid #555;
    }
}
